APP_ENV=development
PORT=8787
DB_PATH=rkm.db
ACCESS_TTL=15m
SESSION_TTL=8h
SESSION_ABSOLUTE_TTL=168h
COOKIE_SECURE=false
DUMMY_PASSWORD_ADMIN=Rkm@123456
DUMMY_PASSWORD_OPERATOR=Rkm@123456
DUMMY_PASSWORD_SUPERVISOR=Rkm@123456
DUMMY_PASSWORD_QUALITY=Rkm@123456
DUMMY_PASSWORD_PCP=Rkm@123456
